In [23]:
#Importing all necessary libraries
import json, requests, urllib
from pathlib import Path
from datetime import datetime
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import http.client

In [24]:
#Creating a directory for raw storage if needed
dir_raw = Path("raw")
dir_raw.mkdir(parents=True, exist_ok=True)

In [25]:
#Contructing URL for premier league top scorers
connection = http.client.HTTPConnection('api.football-data.org')
headers = { 'X-Auth-Token': '75bdeed7b23e492490268e34590915e0' }
connection.request('GET', '/v2/competitions/PL/scorers', None, headers )
response = json.loads(connection.getresponse().read().decode())

In [26]:
#Creating DataFrame for storage of data i want to use from each scorer
df1 = pd.DataFrame(columns=["Player Name","Team","Nationality","Position","League Goals"])

In [27]:
#Loop to store player name,team that player plays for,nation the player is from,
#position they play in, number of goals scored by player
for scorer in response['scorers']:
    player_name=scorer['player']['name']
    player_team=scorer['team']['name']
    player_nation=scorer['player']['nationality']
    player_position=scorer['player']['position']
    player_goals=scorer['numberOfGoals']
#Stores all the data above in dataframe
    df1 = df1.append({"Player Name":player_name,"Team":player_team,
                "Nationality":player_nation,"Position":player_position,
               "League Goals":player_goals},ignore_index=True)

In [28]:
df1.head()

       Player Name                  Team Nationality    Position League Goals
0    Mohamed Salah          Liverpool FC       Egypt    Attacker           10
1      Jamie Vardy     Leicester City FC     England    Attacker            7
2  Michail Antonio    West Ham United FC     England  Midfielder            6
3       Sadio Mané          Liverpool FC     Senegal    Attacker            6
4  Bruno Fernandes  Manchester United FC    Portugal  Midfielder            4

In [29]:
#Contructing URL for Serie A top scorers
connection1 = http.client.HTTPConnection('api.football-data.org')
connection1.request('GET', '/v2/competitions/SA/scorers', None, headers )
response1 = json.loads(connection1.getresponse().read().decode())

In [30]:
#Creating DataFrame for storage of data i want to use from each scorer
df2 = pd.DataFrame(columns=["Player Name","Team","Nationality","Position","League Goals"])

In [31]:
#Loop to store player name,team that player plays for,nation the player is from,
#position they play in, number of goals scored by player
for scorer1 in response1['scorers']:
    player_name1=scorer1['player']['name']
    player_team1=scorer1['team']['name']
    player_nation1=scorer1['player']['nationality']
    player_position1=scorer1['player']['position']
    player_goals1=scorer1['numberOfGoals']
#Stores all the data above in dataframe
    df2 = df2.append({"Player Name":player_name1,"Team":player_team1,
                "Nationality":player_nation1,"Position":player_position1,
               "League Goals":player_goals1},ignore_index=True)

In [32]:
df2.head()

,Player Name,Team,Nationality,Position,League Goals
0,Ciro Immobile,SS Lazio,Italy,Attacker,9
1,Dušan Vlahović,ACF Fiorentina,Serbia,Attacker,8
2,Giovanni Simeone,Hellas Verona FC,Argentina,Attacker,8
3,Edin Džeko,FC Internazionale Milano,Bosnia and Herzegovina,Attacker,7
4,João Pedro Galvão,Cagliari Calcio,Brazil,Midfielder,6

In [33]:
#Contructing URL for Bundesliga top scorers
connection2 = http.client.HTTPConnection('api.football-data.org')
connection2.request('GET', '/v2/competitions/BL1/scorers', None, headers )
response2 = json.loads(connection2.getresponse().read().decode())

In [34]:
#Creating DataFrame for storage of data i want to use from each scorer
df3 = pd.DataFrame(columns=["Player Name","Team","Nationality","Position","League Goals"])

In [35]:
#Loop to store player name,team that player plays for,nation the player is from,
#position they play in, number of goals scored by player
for scorer2 in response2['scorers']:
    player_name2=scorer2['player']['name']
    player_team2=scorer2['team']['name']
    player_nation2=scorer2['player']['nationality']
    player_position2=scorer2['player']['position']
    player_goals2=scorer2['numberOfGoals']
#Stores all the data above in dataframe   
    df3 = df3.append({"Player Name":player_name2,"Team":player_team2,
                "Nationality":player_nation2,"Position":player_position2,
               "League Goals":player_goals2},ignore_index=True)

In [36]:
df3.head()

,Player Name,Team,Nationality,Position,League Goals
0,Robert Lewandowski,FC Bayern München,Poland,Attacker,12
1,Erling Haaland,Borussia Dortmund,Norway,Attacker,9
2,Patrik Schick,Bayer 04 Leverkusen,Czech Republic,Attacker,8
3,Taiwo Awoniyi,1. FC Union Berlin,Nigeria,Attacker,7
4,Anthony Modeste,1. FC Köln,France,Attacker,6

In [37]:
#Contructing URL for La Liga top scorers
connection3 = http.client.HTTPConnection('api.football-data.org')
connection3.request('GET', '/v2/competitions/PD/scorers', None, headers )
response3 = json.loads(connection3.getresponse().read().decode())

In [38]:
#Creating DataFrame for storage of data i want to use from each scorer
df4 = pd.DataFrame(columns=["Player Name","Team","Nationality","Position","League Goals"])

In [39]:
#Loop to store player name,team that player plays for,nation the player is from,
#position they play in, number of goals scored by player
for scorer3 in response3['scorers']:
    player_name3=scorer3['player']['name']
    player_team3=scorer3['team']['name']
    player_nation3=scorer3['player']['nationality']
    player_position3=scorer3['player']['position']
    player_goals3=scorer3['numberOfGoals']
#Stores all the data above in dataframe
    df4 = df4.append({"Player Name":player_name3,"Team":player_team3,
                "Nationality":player_nation3,"Position":player_position3,
               "League Goals":player_goals3},ignore_index=True)

In [40]:
#Makes one dataFrame, mergeing all dataFrames created earlier
top_scorers=pd.concat([df1,df2,df3,df4],ignore_index=True)

In [41]:
#Makes a json file to store the new dataFrame in
top_scorers.to_json("TopScorers.json")